<div class="container">
  <div class="card">
    <form class="card-form">
      <div class="input">
        <input type="text" class="input-field" required />
        <label class="input-label">Titre</label>
      </div>

      <div class="input">
        <input type="text" class="input-field" required />
        <label class="input-label">Description</label>
      </div>

      <div class="input">
        <input type="date" class="input-field" placeholder=" " />
        <label class="input-label">Date d'expiration</label>
      </div>

      <div class="action">
        <button class="action-button">Soumettre</button>
      </div>
    </form>

    <div class="card-info">
      <p>En cliquant ici, l'offre sera visible par les chercheurs de stage.</p>
    </div>
  </div>
</div>
