<body style="background-image: url();">
    <main>
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5 d-flex align-items-center justify-content-center">
            <div class="row gx-lg-5 align-items-center mb-5 p-md-0 p-2" style="background-color: rgba(242, 242, 242, 0.5); border-radius: 10px; max-width: 800px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                <div class="col-12">
                    <form action="get">
                        <h1 class="text-center m-3">Welcome Back !</h1>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="email" placeholder="Email address" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please input your email.
                                    </div>
                                    <label for="firstname">email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="password" placeholder="password"
                                        minlength="5" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a password that is more that 5 characters.
                                    </div>
                                    <label for="password">Password</label>
                                </div>
                            </div>
                           
                            
                        </div>
                        <br>
                        <div class="row text-center">
                            <p>Don't have an account ? <a href="Signup.html" style="text-decoration: underline;">Sign up</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
